body {
  background: #1874cd;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  color: #fff;
  font-size: 3em;
}
h1,
h2 {
  margin: 0;
}
p {
  margin: 0;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.white-box {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}
.white-box h2 {
  color: #1874cd;
  font-size: 1.4em;
}
.button {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  background: #1874cd;
  color: #fff;
  padding: 5px 10px;
  height: 30px;
}
.button:hover {
  cursor: pointer;
}
.task-list {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 20px 0 20px;
  font-size: 1.2em;
}
.task-list .task {
  margin-bottom: 10px;
}
.task-list .task .delete.button {
  margin-left: 15px;
}
.add-task .task-name {
  display: block;
  margin: 10px 0;
}
.add-task .task-name input {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding: 5px;
}
